<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Dojo</h1>

    <p>Dojo (道場 dōjō) is a Japanese term which literally means "place of the way". Initially, dōjōs were adjunct to temples.</p>
    <p>In the Western world, the term dōjō primarily refers to a training place specifically for Japanese martial arts such as aikido, judo, karate, or samurai;[1] in Japan, any physical training facility, including professional wrestling schools, may be called dōjō because of its close martial arts roots.[2] The term can also refer to a formal training place for any of the Japanese arts ending in "do", meaning "way".</p>


    <h2>Enter your information:</h2>
    <form action = "">
        <label for="name">Name</label>
        <input type="text" name="name">
        <label for="email">Email</label>
        <input type="email" name="email">
    </form>



</body>
</html>