<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>The Messaging Wall</h1>
        
        {% if session['id'] %}
        <div id="account">
            <p>Welcome {{ session['name'] }}</p>
            <form action="/logout" method="post">
                <input class="btn" type="submit" value="Logout">
            </form>
        </div>

        {% else %}
        <div id="login">
            <form action="/login" method="post">
                <input class="formfield" type="text" name="email" onfocus="this.value=''" value="Enter your email">
                <input class="formfield" type="text" name="password" onfocus="this.value=''" value="Enter your password">
                <input class="btn" type="submit">
            </form>
            {% with messages = get_flashed_messages(category_filter=["login"]) %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="error">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        {% endif %}
       
        
        
        




        

    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p>Footer Content</p>
    </footer>

</body>
</html>