<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'ajaxnotes/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    

    <title>Ajax Notes</title>
</head>
<body>
    <h1>My Notes</h1>

    <div id="notes">
        {% for note in notes %}
            {% include 'ajaxnotes/new_note.html' %}
        {% endfor %}
    </div>

    <h3>Add New Note:</h3>
    <form id="add_note_form" action="{% url 'ajaxnotes:add_note' %}" method="post">
        {% csrf_token %}
        <input type="text" name="note_title" value="Insert note title here..." onfocus="this.value=''">
        <button type="submit">Add Note</button>
    </form>

    
    <script src="{% static 'ajaxnotes/script.js' %}"></script>    

</body>
</html>