* {
    background-color: lightcyan;
    text-align: center;
}

.place {
    display: inline-block;
    border: 1px solid black;
    padding: 40px 50px;
    margin: 25px 20px 40px 20px;
}

.title {
    margin-left: 120px;
    text-align: left;
    font-weight: 600;
}

#log {
    width: 85%;
    height: 180px;
    overflow: scroll;
    border: 1px solid black;
    margin: 0 auto;
    padding-left: 20px;
}

#log p { 
    text-align: left; 
    margin: 2px 0;
}

.Earned { color: green; }
.Lost { color: red; }