<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body>
		<h1>Leagues</h1>
		
		<h3>All Leagues</h3>
		<ol>
			{% for league in leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h3>Baseball Leagues</h3>
			<ol>
				{% for league in baseball %}
					<li>{{league.name}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>
			
		<h3>Women's Leagues</h3>
			<ol>
				{% for league in women %}
					<li>{{league.name}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>
		<h3>All Hockey Leagues</h3>
			<ol>
				{% for league in hockey %}
					<li>{{league.name}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>

		<h3>All Leagues EXCEPT Football</h3>
			<ol>
				{% for league in exceptfootball %}
					<li>{{league.name}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>

		<h3>All "Conference" Leagues</h3>
			<ol>
				{% for league in conferences %}
					<li>{{league.name}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>

		<h3>All Leagues in Atlantic Region</h3>
			<ol>
				{% for league in atlantic %}
					<li>{{league.name}}</li>
				{% empty %}
					<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
				{% endfor %}
			</ol>
		
	

		<h1>Teams</h1>
		<h3>Teams based in Dallas</h3>
		<ol>
			{% for team in dallas %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h3>Teams named "Raptors"</h3>
		<ol>
			{% for team in raptors %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h3>Teams with locations with "City" in their name</h3>
		<ol>
			{% for team in city %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h3>Teams with names starting with "T"</h3>
		<ol>
			{% for team in namedT %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h3>Teams ordered alphabetically, by location</h3>
		<ol>
			{% for team in alphabetical %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h3>Teams ordered by name in reverse alphabetical order</h3>
		<ol>
			{% for team in rev %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>



		<h1>Players</h1>
		
		<h3>Players with last name "Cooper"</h3>
		<ol>
			{% for player in cooper %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h3>Players with First name "Joshua"</h3>
		<ol>
			{% for player in joshua %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h3>Players with last name "Cooper, except first name "Joshua"</h3>
		<ol>
			{% for player in cooperexcept %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h3>Players with first name "Alexander" or "Wyatt"</h3>
		<ol>
			{% for player in alexanderwyatt %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
	</body>
</html>