{% extends 'store/base.html' %}

{%block title%}Product - Detail{%endblock%}

{% block content %}
    <h1>Product Detail View</h1>

    <p>Name: {{product.name}}</p>
    <p>Description: {{product.description}}</p>
    <p>Manufacturer: {{product.manufacturer}}</p>
    <p>Price: {{product.price}}</p>
    <p>On Stock: {{product.on_stock}}</p>
    <p>Active: {{product.is_active}}</p>
    <p>Created: {{product.created_at}}</p>
    <p>Last Updated: {{product.updated_at}}</p>

    <div>
        <a href="{% url 'store:product_update' product.id %}">Edit</a>
        <a href="{% url 'store:product_delete' product.id %}">Delete</a>
    </div>  

    <a href="{% url 'store:product_list' %}">All products</a>
    

{% endblock %}
