<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
    <title>Document</title>
</head>
<body>
    <h1>Enter Artist's Name:</h1>

    <form id="artist_search" action="{% url 'musicvideos:get_movie' %}" method="post">
        {% csrf_token %}
        <label for="user_input">Enter Artist's Name:</label>
        <input id="user_input" name="user_input" type="search">
        <input type="submit" value="search">
    </form>

    <div id="results"></div>



    <script src="{% static 'musicvideos/script.js' %}"></script>
</body>
</html>