<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename="styles.css")}}">
    <title>Friends</title>
</head>
<body>
    <h1>Friends</h1>
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>  
        </thead>
        <tbody>
            {% for friend in all_friends %}
                <tr>
                    <td>{{ friend['first_name'] }}</td>
                    <td>{{ friend['last_name'] }}</td>
                    <td>{{ friend['email'] }}</td>
                    <td>
                        <form action="{{ url_for('edit', id=friend['id']) }}" method="get">
                            <input class="btn action" type="submit" value="Edit">
                        </form>
                        <form action="{{ url_for('destroy', id=friend['id']) }}" method="post">
                            <input class="btn action" type="submit" value="Delete">
                        </form>
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        {% with messages = get_flashed_messages(category_filter=["table"]) %}
            {% if messages %}
                {% for message in messages %}
                    <p class = "success">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
    

    <div id="addfriend">
        <h3>Add New Friend</h3>
        <form action="/friends" method="post">
            <label for="first_name">First Name: <input class="formfield" type="text" name="first_name"></label>
            <label for="first_name">Last Name: <input class="formfield" type="text" name="last_name"></label>
            <label for="first_name">Email: <input class="formfield" type="text" name="email"></label>
            <input class="btn form" type="submit" value="Add Friend">
        </form>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == "form-error" or category == "form-success" %}
                        <p class = "{{category}}">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>