{% extends 'login/base.html' %}

{% block title %}<title>Welcome</title> {% endblock title %}


{% block content %} 

    <div>
        <h1>Using a Normal HTML Form:</h1>
        <h3>Registration</h3>
        
        <form id="registration" action="/register/" method="post">
            {% csrf_token %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{message.tags}}"}} {% endif %}>
                        {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <label for="first_name">First Name</label>
            <input type="text" name="first_name">
            
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name">
            
            <label for="email">Email</label>
            <input type="text" name="email">
            
            <label for="birthday">Birthday</label>
            <input type="date" name="birthday">

            <label for="pass">Password</label>
            <input type="text" name="pass">
            
            <label for="passconf">Password Confirmation</label>
            <input type="text" name="passconf">

            <input type="submit" value="Register">
        </form>
    
        <h3>Login</h3>
        <form id="login" action="/login/" method="post">
            {% csrf_token %}
            <label for="email">Email</label>
            <input type="text" name="email">
            
            <label for="pass">Password</label>
            <input type="text" name="pass">

            <input type="submit" value="Login">
        </form>
    </div>


    <div>
        <h1>Using a Django Normal Form:</h1>
        <h3>Registration</h3> 
            <form action="/registernormalform/" method="post">
                {% csrf_token %}
                {{ regform }}
                <input type="submit" value="Register">
            </form>
            
        <h3>Login</h3> 
            <form action="/loginnormalform/" method="post">
            {% csrf_token %}
            {{ loginform }}
            <input type="submit" value="Login">
            </form>
    </div>



    <h1>Using a Django ModelForm:</h1>
        <h3>Registration</h3> 
            <form action="/registermodelform/" method="post">
                {% csrf_token %}
                {{ userform }}
                <input type="submit" value="Register">
            </form>



{% endblock %}